version: '3.9'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - OSM_CLIENT_ID=REPLACE_WITH_OSM_CLIENT_ID
      - OSM_CLIENT_SECRET=REPLACE_WITH_OSM_CLIENT_SECRET
      - OSM_BASE_URL=https://www.onlinescoutmanager.co.uk
      - OSM_REDIRECT_URI=https://osm.tbproductions.co.uk/api/osm-auth/callback
      - OSM_SCOPE=finance-section-read
    command: npm run start

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    env_file:
      - .env.local
    depends_on:
      - app
    restart: unless-stopped
